#auth {
  margin: 0 auto;
  margin-top: 200px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: white;
  padding: 100px 50px;
  width: 400px;

  .btn {
    margin-top: 20px;
  }
}
